body {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
#title-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  color: white;
  margin: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
}
