body {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
  font-weight:lighter;
  background-color: black !important;
}
#title-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  margin: 14px;
}

h1,
h2 {
  text-align: center;
  font-size: 10px;
  color: white;
  margin: 10;
  padding: 0;
}
div, span {
  color: white;
}

.container {
  width: 400px;
  margin: 50px auto;
}
